@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url("../fonts/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"), local("MuseoSansCyrl-100"), url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), local("MuseoSansCyrl-500"), url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"), local("MuseoSansCyrl-900"), url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MinionPro-MediumIt';
  src: url("../fonts/MinionPro-MediumIt.eot");
  src: local("MinionPro-MediumIt"), local("MinionPro-MediumIt"), url("../fonts/MinionPro-MediumIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-MediumIt.woff") format("woff"), url("../fonts/MinionPro-MediumIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MinionPro-Regular';
  src: url("../fonts/MinionPro-Regular.eot");
  src: local("MinionPro-Regular"), local("MinionPro-Regular"), url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MinionPro-SemiBold';
  src: url("../fonts/MinionPro-SemiBold.eot");
  src: local("MinionPro-SemiBold"), local("MinionPro-SemiBold"), url("../fonts/MinionPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-SemiBold.woff") format("woff"), url("../fonts/MinionPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Minion-SemiBold_Italic';
  src: url("../fonts/Minion-SemiBold_Italic.eot");
  src: local("Minion-SemiBold_Italic"), local("Minion-SemiBold_Italic"), url("../fonts/Minion-SemiBold_Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Minion-SemiBold_Italic.woff") format("woff"), url("../fonts/Minion-SemiBold_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TinosBold-Italic';
  src: url("../fonts/Tinos-BoldItalic.eot");
  src: local("TinosBold-Italic"), local("TinosBold-Italic"), url("../fonts/Tinos-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Tinos-BoldItalic.woff") format("woff"), url("../fonts/Tinos-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: auto;
  color: #84807d;
  font-family: "MuseoSansCyrl-100", sans-serif;
  font-size: 16px;
  line-height: 25px; }

.dr-h1 {
  color: #2c180b;
  font-family: "MinionPro-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 54px;
  text-transform: uppercase;
  margin: 0 0 40px; }

.dr-h3 {
  color: #2c180b;
  font-family: "MinionPro-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 40px; }

.dr-h4 {
  font-family: "MinionPro-Regular", sans-serif;
  color: #2c180b;
  font-size: 21px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

.dr-h5 {
  font-family: "MuseoSansCyrl-700", sans-serif;
  color: #2c180b;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

.dr-title-w-line {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: center; }
.dr-title-inner {
  position: relative;
  padding: 0 30px;
  margin: 0; }
.dr-title-line {
  background: #eae8e5;
  height: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0; }
.dr-title.center {
  text-align: center; }

.guide-list-sidebar .guide-item {
  margin: 0 0 40px 0;
  padding: 0 0 35px 0;
  border-bottom: 1px solid #eae8e5; }
  .guide-list-sidebar .guide-item:last-child {
    border-bottom: none;
    margin: 0; }

.guide-item {
  position: relative;
  display: block;
  margin: 0 0 55px 0; }
  .guide-item-description {
    margin: 15px 0 0 0; }
  .guide-item .collect-box {
    background: #eae8e5; }

.good-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .good-item-image {
    height: 400px; }

.good-item-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2; }

.btn-zoom {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .btn-zoom > * {
    overflow: visible !important;
    width: 22px;
    height: auto;
    fill: #fff; }
    .btn-zoom > * path {
      -webkit-filter: url(#dropShadow);
      filter: url(#dropShadow); }

.post-content > * {
  font-size: 15px;
  margin-bottom: 20px;
  padding: 0; }
.post-content h5 {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0; }
.post-content > h5 {
  margin-bottom: 20px; }

.post-page {
  padding-top: 20px;
  padding-bottom: 30px; }
  .post-page .sidebar-title {
    margin: 0 0 30px 0; }
  .post-page .sidebar .collect-box {
    height: 320px; }

.archive-item > .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.archive-item__photo {
  height: 280px;
  margin: 0 0 10px 0; }
.archive-item:last-child {
  padding: 20px 0 60px 0;
  margin: 0;
  border-bottom: 1px solid #eae8e5; }

.dr-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 0;
  margin: 0 0 40px 0; }
  .dr-list-item__horizontal {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .dr-list-item__horizontal .dr-h4 {
      margin-bottom: 12px; }
    .dr-list-item__horizontal .dr-text {
      margin-bottom: 30px; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 40px 0 0 0;
  padding: 0; }
  .navigation__btn {
    height: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #7a5b48;
    border-radius: 50px;
    padding: 0; }
    .navigation__btn.is-active {
      background: #7a5b48;
      color: #fff; }
    .navigation__btn.dr-disabled {
      border-color: #eae8e5;
      color: #eae8e5;
      cursor: default;
      pointer-events: none; }
  .navigation__prev, .navigation__next {
    padding: 0 20px; }
  .navigation > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 10px;
    padding: 0;
    list-style: none; }
    .navigation > ul > * {
      margin: 0 10px 0 0; }
      .navigation > ul > *:last-child {
        margin-right: 0; }
    .navigation > ul .navigation__btn {
      width: 35px; }
      .navigation > ul .navigation__btn:last-child {
        margin-right: 0; }

.dr-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.dr-btn {
  font-size: 16px;
  line-height: 25px;
  background: #7a5b48;
  color: #fff;
  text-transform: uppercase;
  font-family: "MuseoSansCyrl-500",sans-serif;
  border-radius: 0;
  margin: 0;
  padding: 10px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: auto;
  height: 50px; }
  .dr-btn:hover, .dr-btn:focus {
    color: #fff; }
  .dr-btn__brown {
    background: #7a5b48;
    color: #fff; }
    .dr-btn__brown:hover, .dr-btn__brown:focus {
      color: #fff; }
  .dr-btn__brown_light {
    background: #9e7c61;
    color: #fff; }
    .dr-btn__brown_light:hover, .dr-btn__brown_light:focus {
      color: #fff; }
  .dr-btn__outline {
    background: #fff;
    border: 1px solid #7a5b48;
    color: #7a5b48; }
    .dr-btn__outline:hover, .dr-btn__outline:focus {
      color: #7a5b48; }
  .dr-btn-wrapper, .dr-btn-wrapper__column, .dr-btn-wrapper__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .dr-btn-wrapper__column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .dr-btn-wrapper__row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .dr-btn-wrapper__row > * {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-right: 10px; }
        .dr-btn-wrapper__row > *:last-child {
          margin-right: 0; }

.dr-section-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  .dr-section-inner .dr-btn, .dr-section-inner .main-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0 0 15px 0;
    max-width: 300px; }

.dr-main-button {
  font-size: 16px;
  padding: 10px 15px;
  height: auto;
  width: 100%;
  max-width: 300px; }

.c-black {
  color: #2c180b !important; }
.c-black_superlight {
  color: #84807d !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.payment-status-page .main-section {
  margin: 45px 0; }

.heading, .heading-h1, .heading-h3 {
  font-family: "MinionPro-SemiBold", sans-serif;
  font-weight: normal;
  color: #2c180b; }
  .heading-h1 {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 54px;
    text-transform: uppercase;
    margin: 0 0 40px; }
  .heading-h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 40px; }

.dr-text {
  font-size: 15px;
  line-height: 22px;
  font-family: "MuseoSansCyrl-100", sans-serif;
  margin: 0;
  padding: 0; }
  .dr-text__normal {
    font-size: 16px;
    line-height: 25px;
    color: #84807d; }
  .dr-text__small {
    font-size: 12px;
    line-height: 18px;
    color: #84807d; }
  .dr-text-default {
    color: #84807d; }
    .dr-text-default > * {
      color: inherit; }
    .dr-text-default > a {
      color: #9e7c61; }
  .dr-text-darken {
    color: #665146; }
    .dr-text-darken > * {
      color: inherit; }
    .dr-text-darken > a {
      color: #9e7c61; }

.dr-title-w-line {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
.dr-title-inner {
  position: relative;
  padding: 0 30px;
  margin: 0; }
.dr-title-line {
  background: #eae8e5;
  height: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0; }
.dr-title.center {
  text-align: center; }

p {
  color: #2c180b; }

.dr-container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.dr-row {
  margin-right: -15px;
  margin-left: -15px; }

.archive-page .dr-row {
  margin-left: 0;
  margin-right: 0; }

.dr-col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.dr-col-md-6, .dr-col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.text-center {
  text-align: center !important; }

.dr-section {
  padding: 2em 0; }

.image-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 20px; }
  .image-box__cert {
    width: 40%;
    height: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
  .image-box__slider {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative; }
  .image-box__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
    .image-box__item.show {
      z-index: 90; }

.dr-ol {
  padding: 0;
  margin: 0;
  counter-reset: dr-ol;
  font-size: 16px; }
  .dr-ol li {
    list-style: none;
    position: relative; }
    .dr-ol li:before {
      counter-increment: dr-ol;
      content: counter(dr-ol) ".";
      font-weight: bold;
      margin-right: 5px; }

.mb-0 {
  margin-bottom: 0 !important; }

.mt-50 {
  margin-top: 45px !important; }

.bg-brown__light {
  background: #9e7c61; }

.c-light {
  color: #fff; }

.overlay-block {
  padding: 30px 15px; }
  .overlay-block > * {
    margin: 0;
    display: inline-block; }

.list-initial {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 25px;
  font-size: 16px; }

img {
  max-width: 100% !important;
  -o-object-fit: initial !important;
  object-fit: initial !important; }

.section-cards .image-box {
  display: block; }

.dr-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  padding: 10px;
  margin: 0; }
  .dr-modal__alert .dr-modal__header {
    display: none; }
  .dr-modal__close {
    display: block;
    position: absolute;
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    right: 10px;
    top: 10px; }
    .dr-modal__close svg {
      stroke: #7a5b48; }
  .dr-modal__content {
    background: #fff;
    border-radius: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 10px 0; }
    .dr-modal__content > * {
      padding: 5px 15px; }
  .dr-modal-sm .dr-modal__content {
    max-width: 400px; }
  .dr-modal.is-active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .dr-modal__overlay {
    background-color: rgba(122, 91, 72, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

.justify-content-between {
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.dr-footer {
  background: #f4f3f1;
  padding: 0; }
  .dr-footer__contact {
    padding: 4em 0; }
    .dr-footer__contact .menu_footer_wrap {
      padding: 0;
      margin: 0; }
  .dr-footer__inner {
    background: #dedad7; }
  .dr-footer__marks {
    margin: 0;
    padding: 1.2em 0;
    border-top: 1px solid #84807d; }
    .dr-footer__marks_inner {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .dr-footer__marks_inner p {
        margin: 0; }
    .dr-footer__marks_icons > * {
      display: inline-block;
      margin: 10px 5px; }
    .dr-footer__marks_icons img {
      height: 40px;
      width: auto; }
  .dr-footer_list {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0; }
    .dr-footer_list li a {
      color: #84807d;
      font-size: 14px;
      line-height: 26px;
      display: block; }
    .dr-footer_list-header {
      margin-bottom: 15px; }

.dr-form-feedback {
  background: #f4f3f1;
  padding: 0; }
  .dr-form-feedback__title_respons {
    display: none !important; }
  .dr-form-feedback__info, .dr-form-feedback__controls {
    padding: 20px 0; }
  .dr-form-feedback__info > p:last-child {
    margin-bottom: 0; }
  .dr-form-feedback__controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .dr-form-feedback__controls > * {
      height: 50px;
      min-height: 50px;
      margin: 0;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      max-width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .dr-form-feedback__controls .dr-input {
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 12px 20px;
      min-width: 150px;
      width: auto;
      -webkit-box-flex: 3;
      -webkit-flex: 3;
      -ms-flex: 3;
      flex: 3; }

.footer_phone_list li a {
  font-family: "MuseoSansCyrl-900", sans-serif; }

.footer_list li {
  margin-bottom: 8px; }

.social_list_footer {
  margin-top: 15px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .social_list_footer li {
    margin: 0;
    padding: 0; }
    .social_list_footer li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 5px;
      padding: 0;
      width: 30px;
      height: 30px;
      min-height: 30px;
      min-width: 30px;
      border-radius: 0;
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out; }
      .social_list_footer li a:hover {
        opacity: 0.6;
        background-position: center !important; }
    .social_list_footer li:last-child a {
      margin-right: 0; }

.insta_ico {
  background-image: url(../image/icons/instagram_ic.svg) !important; }

.whatsapp_ico {
  background-image: url(../image/icons/whatsapp_ic.svg) !important; }

.facebook_ico {
  background-image: url(../image/icons/facebook_ic.svg) !important; }

.youtube_ico {
  background-image: url(../image/icons/youtube_ic.svg) !important; }

.vk_ico {
  background-image: url(../image/icons/vk_ic.svg) !important; }

.telegram_ico {
  background-image: url(../image/icons/telegram_ic.svg) !important; }

.align-items-start {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.footer_phone_list {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .footer_phone_list > * {
    margin: 0 !important;
    padding: 0;
    display: block !important; }

.pre-footer-phone {
  margin-right: 15px;
  margin-left: 15px;
  border-bottom: 1px solid #84807d; }

@media screen and (max-width: 1024px) {
  .post-page .sidebar .collect-box {
    height: 280px; }

  .footer_phone_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer_phone_list li a {
      margin: 12px; }

  .social_list_footer {
    width: 360px;
    margin: 15px auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; } }
@media screen and (max-width: 767px) {
  .good-item-image {
    height: 250px; }

  .post-page .sidebar .collect-box {
    height: 230px; }

  .sidebar .collect-box {
    height: 230px; }

  .hidden-xs {
    display: none !important; }

  .footer_phone_list {
    display: none; }

  .dr-footer__marks_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .dr-footer__marks_inner > p {
      margin: 20px 0 0 0; }

  .social_list_footer li a {
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    background-size: 40px; }

  .social_list_footer li a.telegram_ico {
    background-image: url(../image/soc-icon-tm.png); }

  .social_list_footer li a.whatsapp_ico {
    background-image: url(../image/soc-icon-wa.png); }

  .dr-footer__contact {
    padding: 1em 0; }

  .dr-form-feedback__info {
    text-align: center;
    padding-top: 0; }
  .dr-form-feedback .dr-row:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .dr-form-feedback__title {
    display: none !important; }
    .dr-form-feedback__title_respons {
      margin-top: 20px;
      display: block !important; } }
@media screen and (max-width: 550px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .navigation__prev, .navigation__next {
      margin-bottom: 15px; }
    .navigation > ul {
      margin-bottom: 15px; }

  .heading-h1 {
    font-size: 35px;
    line-height: 40px; }
  .heading-h3 {
    font-size: 18px;
    line-height: 25px; }

  .dr-footer__marks_inner > p {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px; }

  .dr-footer__marks_icons {
    width: 100%;
    text-align: center; }

  .social_list_footer li {
    text-align: center;
    margin-bottom: 12px; }
    .social_list_footer li > a {
      margin: 0 auto; }
    .social_list_footer li:last-child a {
      margin: 0 auto; } }
@media screen and (max-width: 425px) {
  .good-item-image {
    height: 210px; }

  .post-page .sidebar .collect-box {
    height: 300px; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
@media (max-width: 1199px) and (min-width: 992px) {
  .hidden-md {
    display: none !important; } }
@media screen and (min-width: 768px) {
  .dr-col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }
@media screen and (min-width: 640px) {
  .sidebar {
    margin-left: 20px; } }
