$black: #2c180b;
$superLightBlack: #84807d;
$lightBlack: #665146;
$lightGray: #eae8e5;
$superLightGray: #f4f3f1;
$gray: #dedad7;
$light: #fff;
$brown: #7a5b48;
$blue: #4a5e95;

$brownLighter: #D2C5BE;
$brownLighten: #b09784;
$brownLight: #9e7c61;

$green: #5FBB4F;
$red: #ff0000;

$font-default: 'MuseoSansCyrl-100',sans-serif;
$font-default-300: 'MuseoSansCyrl-300',sans-serif;
$font-default-400: 'MuseoSansCyrl-400',sans-serif;
$font-default-500: 'MuseoSansCyrl-500',sans-serif;
$font-default-700: 'MuseoSansCyrl-700',sans-serif;
$font-headers: "MinionPro-SemiBold",sans-serif;
