# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Programs\Open Server 5.3.5\OSPanel\domains\kanzler_proj\kanzler\ratePurchase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
